Customer Enquiry Sales Agent.json
{
  "name": "Customer Enquiry Sales Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -128
      ],
      "id": "a4328ce6-1121-4232-820c-2d6d44286fed",
      "name": "Telegram Trigger",
      "webhookId": "334d9663-056e-4e12-ba51-ad15345a3b0b",
      "credentials": {
        "telegramApi": {
          "id": "fwq0XUkLnM322AJo",
          "name": "salesagent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f99f38d0-96b4-41ca-a63e-d34d3e9fd74a",
              "name": "customer_message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "8c835861-f32c-4cde-bae9-de9301ccfa83",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -128
      ],
      "id": "06241e7d-fcf2-4538-985b-558eaedd0833",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "order_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f0d9459b-8760-4ca1-ae0c-3fc912d37c15"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b175e196-cddb-42ed-bdcb-400344a93675",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "product_question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b46e0a64-7ff6-402f-bf09-91d814b976fa",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "return_refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1aa461f6-d527-40ea-b47a-4837878d3a09",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "talk_to_human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        96
      ],
      "id": "c9858b15-c25e-42a6-8cbd-c69b328d3438",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        -256
      ],
      "id": "3309ad94-b4a9-43ca-899d-515a19d4850b",
      "name": "chat model",
      "credentials": {
        "googlePalmApi": {
          "id": "yEuCOyulxxoURWnO",
          "name": "account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": \"order_status\",\n  \"confidence\": 85\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        -256
      ],
      "id": "a83685d1-fad7-4708-ab09-c466aa3ac630",
      "name": "output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42463687-209b-4856-b114-d60411afdf91",
              "leftValue": "={{ $json.output.confidence }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -128
      ],
      "id": "651c50df-efc4-44bf-ae06-ddf70965cc45",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c276a66-c75b-4cdb-ba21-16daa3a05fd4",
              "leftValue": "={{ $json.fields.Intent }}",
              "rightValue": "talk_to_human",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        128
      ],
      "id": "79763a09-c35c-4e90-be53-813fa415baba",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        128
      ],
      "id": "924c3d55-3f3d-480c-8a9c-d7ed9319bfd3",
      "name": "auto reply",
      "webhookId": "37fb0af9-2f08-4add-8a73-36cb62b79f52",
      "credentials": {
        "telegramApi": {
          "id": "fwq0XUkLnM322AJo",
          "name": "salesagent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer message:\n{{$json.customer_message}}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI customer support agent for an e-commerce store.\n\nYour job is ONLY to:\n1. Understand the customer's message\n2. Classify the intent correctly\n3. Return a structured JSON response\n\nYou must NOT:\n- Ask questions\n- Give explanations\n- Add extra text\n- Include markdown\n- Include greetings\n\nAllowed intent values:\n- order_status\n- product_question\n- return_refund\n- talk_to_human\n\nIf the message is unclear, emotional, angry, or asks for a human,\nuse intent = \"talk_to_human\".\n\nYour response MUST be valid JSON and nothing else.\n\nJSON format:\n{\n  \"intent\": \"\",\n  \"confidence\": 0\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        -128
      ],
      "id": "8dd70773-2b32-42d9-b873-c5e1061469cd",
      "name": "AI"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        112
      ],
      "id": "3b6e07bf-0208-47e9-a9da-ff548b985c5c",
      "name": "admin",
      "webhookId": "195dd0fd-ed08-4bdc-bd35-9aa0a6e525cd",
      "credentials": {
        "telegramApi": {
          "id": "ryzqVywhesdQ9W0L",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Detected intent:{{ $json.output.intent }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=You are a professional e-commerce customer support agent.\n\nYour task:\n- Generate a reply to the customer based on the detected intent\n- Use the customer's original message as context\n- Reply in clear, simple English\n- Sound polite, calm, and human\n\nRules:\n- Do NOT mention intent names in the reply\n- Do NOT mention AI or automation\n- Do NOT ask unnecessary questions\n- Keep the reply under 3 short sentences\n- Output ONLY the reply text (no JSON, no markdown)\n\nIntent handling rules:\n- If intent is \"order_status\":\n  Tell the customer their order is being processed and will arrive in 3–5 business days.\n- If intent is \"product_question\":\n  Confirm the product is available and offer help placing an order.\n- If intent is \"return_refund\":\n  Acknowledge the request and explain that return/refund help is being provided.\n- If intent is \"talk_to_human\":\n  Inform the customer that a human support agent will assist shortly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -144,
        128
      ],
      "id": "b06ff6e3-0b38-4da6-b6f0-a608eaa5f1d2",
      "name": "AI1",
      "credentials": {
        "googlePalmApi": {
          "id": "yEuCOyulxxoURWnO",
          "name": "account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appgmnz3q4ApQKTOS",
          "mode": "list",
          "cachedResultName": "Conversation Logging",
          "cachedResultUrl": "https://airtable.com/appgmnz3q4ApQKTOS"
        },
        "table": {
          "__rl": true,
          "value": "tbl3U0S4EHm5RqkFN",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appgmnz3q4ApQKTOS/tbl3U0S4EHm5RqkFN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer message": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Intent": "={{ $('AI').item.json.output.intent }}",
            "confidence": "={{ $('AI').item.json.output.confidence }}",
            "Reply sent": "={{ $json.result.text }}",
            "Escalated (yes/no)": "YES"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer message",
              "displayName": "Customer message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply sent",
              "displayName": "Reply sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Escalated (yes/no)",
              "displayName": "Escalated (yes/no)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "YES",
                  "value": "YES"
                },
                {
                  "name": "NO",
                  "value": "NO"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        384,
        128
      ],
      "id": "a59c9f18-81fc-4465-963f-69d22996ce3c",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "QM2do7C6TIN2Lz0T",
          "name": "Conversation Logging"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat model": {
      "ai_languageModel": [
        [
          {
            "node": "AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "output": {
      "ai_outputParser": [
        [
          {
            "node": "AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        []
      ]
    },
    "auto reply": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI1": {
      "main": [
        [
          {
            "node": "auto reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5fea4c37-5767-4316-9219-a347ec443696",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1ffabf898e19328892f613421978195736b3fb85fb1d79d192cb6df23e4fe24"
  },
  "id": "5M8llJ6nlWQMnN0N",
  "tags": []
}